table {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: 20px;
    font-family: 'Overpass Mono';
    text-align: left;
    text-transform: uppercase;
  }

  tbody {
    color: #7D8285;

    tr {
      border-left: 5px solid transparent;
      cursor: pointer;
      transition: background-color ease-in-out .1s, border ease-in-out .1s;
      
      &:hover {
        border-left: 5px solid $primary;
        background-color: #FAFAFB;
      }
    }

    td {
      border-top: 1px solid #EBEBEB;
      padding: 20px;
    }

    .xcert {
      font-family: 'Overpass Mono';
      color: $black;
    }
  }
  .xcert__icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}

dl {
  display: flex;
  flex-flow: row wrap;
  margin: -1rem 0;

  dt {
    flex-basis: 20%;
    padding: 1rem 0;
    color: #7D8285;
  }

  dd {
    flex-basis: 80%;
    padding: 1rem 0;
    margin: 0;
  }
}

.ellipsis {
  max-width: 200px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slide-enter-active,
.slide-leave-active {
  transition: all .4s ease-in-out;
}
.slide-enter, .slide-leave-to {
  transform: translateX(120%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s ease-in-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.offside--header {
  flex-grow: 1;
  text-align: left;
}

.shade {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 6;
  height: 100%;
}


// Forms

form label {
  display: block;
  font-family: 'Overpass Mono', monospace;
  margin-bottom: 5px;
}

input[type=text] {
  box-sizing: border-box;
  background: $border;
  border: none;
  padding: 15px 15px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 1rem;
}