h1 {
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  font-size: 26px;
}

h2 {
  margin-top: 2rem;
  font-size: 23px;
}

h4 {
  font-weight: normal;
  max-width: 700px;
  align-self: center;
}

 h2, h3, h4, h5, h6 {
  font-family: "Overpass Mono";
}

code {
  background-color: rgba(61,140,255,0.22);
  font-family: "Overpass Mono";
  padding-left: 5px;
  padding-right: 5px;
}

pre {
	border: 1px solid rgba(155,155,155,0.2);
  background-color: #F5F6F8;
  padding: 28px 37px;
  font-family: "Overpass Mono";
  margin: 30px 0;
}

pre code {
  font-size: 14px;
  line-height: 25px;
  background-color: transparent;
  padding: 0;
}

a {
  color: #489EFD;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $primary;
  }
}

hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid $border;
}

blockquote {
  padding: 10px 37px;
  margin: 30px 0;
  background-color: rgba(112,0,255,0.05);
}

main {
  p, li, ol {
    line-height: 30px;
  }
  
  li > p {
    margin: 0;
  }
}