// Colors

$white: #fff;
$black: #020202;
$grey: #666;
$primary: #0971FF;
$primary-lighter: #3188FF;

$aside--bg: #2F2D3B;
$aside--color: #9B9B9B;
$aside--hover: #403F4B;
$border: #EBEBEB;
$shadow: #1A1B23;